<div class="copyrights">
	<div class="container clearfix">
		<div class="contact-block text-center col-md-6 col-md-push-6 col-sm-12">

			<div class="social-icons clearfix">
				<a href="#" class="si si-facebook">
					<i class="glyphicon glyphicon-facebook"></i>
				</a>
				<a href="#" class="si si-spotify">
					<i class="glyphicon glyphicon-spotify"></i>
				</a>
				<a href="#" class="si si-rss">
					<i class="glyphicon glyphicon-rss"></i>
				</a>
				<a href="#" class="si si-blogger">
					<i class="glyphicon glyphicon-blogger"></i>
				</a>
				<a href="#" class="si si-twitter">
					<i class="glyphicon glyphicon-twitter"></i>
				</a>
				<a href="#" class="si si-youtube">
					<i class="glyphicon glyphicon-youtube"></i>
				</a>
				<a href="#" class="si si-gplus">
					<i class="glyphicon glyphicon-wordpress"></i>
				</a>
			</div>
			<div class="contact-details clearfix">
				<span class="contact-email">
					<a href="#">
						<i class="glyphicon glyphicon-envelope"></i> info@hunerakurdi.com
					</a>
				</span>
				<span class="direct-contact">
					<a href="#">
						<i class="glyphicon glyphicon-send"></i> Direct note
					</a>
				</span>
			</div>

		</div>
		<div class="copyright-block text-center col-md-6 col-md-pull-6 col-sm-12">
			Copyrights © 2012-2017 All Rights Reserved
			<a href="http://hunerakurdi.com">hunerakurdi.com</a><br>
			<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
		</div>

	</div>

</div>
