<footer id="main-footer">
<div class="container">
	<div id="footer-widgets" class="clearfix">
		<div>



</div>
<div class="footer-widget col-lg-3 col-md-6 col-sm-12">
	<ul>
	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



</ul></div>
<div class="footer-widget col-lg-3 col-md-6 col-sm-12">
	<ul>
	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



</ul></div>
<div class="footer-widget col-lg-3 col-md-6 col-sm-12">
	<ul>
	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



</ul></div>
<div class="footer-widget col-lg-3 col-md-6 col-sm-12">
	<ul>
	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>



	<li>
		<div class="item ovrf">
			<div>
				<a href="https://hunerakurdi.com/gotin/hozan-dîno/namûs-2007/gulmek-azadî/">Hozan Dîno - Gulmek Azadî</a>
			</div>
			<div class="meta ">
			</div>
		</div>
	</li>

</ul></div>

	</div>
</div>
<div id="footer-info" class="clearfix container">
	<div class="col-lg-4">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</p>
	</div>
	<div class="col-lg-8">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In volutpat scelerisque odio a accumsan. Ut eu porttitor risus. Integer quis blandit nisl.
		</p>
	</div>

</div>
<div id="footer-nav">
	<div class="container">
		<ul id="bottom-nav">
			<li><a href="https://www.elegantthemes.com/preview/Divi/">Home</a></li>
			<li><a href="https://www.elegantthemes.com/preview/Divi/features/">Divi 2.0</a></li>
			<li><a href="https://www.elegantthemes.com/preview/Divi/blog-standard-no-sidebar/">Blog</a></li>
			<li><a href="https://www.elegantthemes.com/preview/Divi/our-team/">About Us</a></li>
			<li><a href="https://www.elegantthemes.com/preview/Divi/contact-us/">Contact Us</a></li>
		</ul>
	</div>
</div>
	<div id="footer-bottom">
		<div class="clearfix">
			<div class="container clearfix">
				<ul id="footer-social-icons">
					<li>
						<a href="https://www.facebook.com/elegantthemes" class="icon">
							<i class="glyphicon glyphicon-info-sign"></i>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/elegantthemes/" class="icon">
							<i class="glyphicon glyphicon-info-sign"></i>
						</a>
					</li>
					<li>
						<a href="https://plus.google.com/+elegantthemes/" class="icon">
							<i class="glyphicon glyphicon-info-sign"></i>
						</a>
					</li>
					<li>
						<a href="https://www.elegantthemes.com/preview/Divi/feed/" class="icon">
							<i class="glyphicon glyphicon-info-sign"></i>
						</a>
					</li>
				</ul>

				<p id="footer-copy">
					All right reserved © 2012-2016 |
					Designed by <a href="http://xbyte.team" title="XByte Team website">XByte Team</a>
				</p>
			</div>
		</div>
	</div>
</footer>
