<div id="sidebar">
	<div id="latest" class="block">
		<h4>Latest Lyrics</h4>
		<ul>
			<li>
				<a href="#">The Happiest Place On Earth</a>
			</li>
			<li>
				<a href="#">Elegant Icon Font</a>
			</li>
			<li>
				<a href="#">The Sweet Life</a>
			</li>
			<li>
				<a href="#">Golden Meadow</a>
			</li>
			<li>
				<a href="#">Award Winning Film</a>
			</li>
		</ul>
	</div>

	<div id="popular" class="block">
		<h4>Popular Lyrics</h4>
		<ul>
			<li>
				<a href="#">The Happiest Place On Earth</a>
			</li>
			<li>
				<a href="#">Elegant Icon Font</a>
			</li>
			<li>
				<a href="#">The Sweet Life</a>
			</li>
			<li>
				<a href="#">Golden Meadow</a>
			</li>
			<li>
				<a href="#">Award Winning Film</a>
			</li>
		</ul>
	</div>

	<div id="recent-edits" class="block">
		<h4>Recently edited</h4>
		<ul>
			<li>
				<a href="#">The Happiest Place On Earth</a>
			</li>
			<li>
				<a href="#">Elegant Icon Font</a>
			</li>
			<li>
				<a href="#">The Sweet Life</a>
			</li>
			<li>
				<a href="#">Golden Meadow</a>
			</li>
			<li>
				<a href="#">Award Winning Film</a>
			</li>
		</ul>
	</div>

</div>
