.left {
  float: left;
  margin-left: 13px
}
#top-menu{
  min-height: 10px;
  background-color: #eee;
}
#search-normal .navbar-form .input-group{
  width:350px;
}
#main-menu{
  padding: 0 15px;
  margin: 20px 0;
  background-color:#fda7a7;
}
nav .navbar-header button{
  background-color: #191919;
  color: #fff
}
nav .navbar-header .icon-bar{
  background-color:#eeeeee;
}
#letters ul{
  display: inline-block;
}
#letters li{
  margin: 0 1px;
}
#letters li a{padding: 8px 14px}
#letters{}
