/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 a:hover {
   text-decoration: none;
 }
 /* line 11, /home/kino/gotin/app/assets/stylesheets/application.sass */
 #main-footer {
   background-color: #222222;
   color: #efefef;
 }
 /* line 14, /home/kino/gotin/app/assets/stylesheets/application.sass */
 #main-footer a {
   color: #bbb;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
 }
 /* line 19, /home/kino/gotin/app/assets/stylesheets/application.sass */
 #main-footer a:hover {
   opacity: 0.7;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
 }

 /* line 24, /home/kino/gotin/app/assets/stylesheets/application.sass */
 #footer-widgets {
   padding: 5% 0;
 }
 /* line 26, /home/kino/gotin/app/assets/stylesheets/application.sass */
 #footer-widgets a {
   color: #2ea3f2;
 }
 /* line 28, /home/kino/gotin/app/assets/stylesheets/application.sass */
 #footer-widgets .item .meta {
   font-size: 0.9em;
   color: #eeeeee;
 }

 /* line 31, /home/kino/gotin/app/assets/stylesheets/application.sass */
 #footer-nav {
   background-color: rgba(255, 255, 255, 0.05);
   padding: 15px;
 }
 /* line 34, /home/kino/gotin/app/assets/stylesheets/application.sass */
 #footer-nav a:hover {
   opacity: 0.7;
 }

 /* line 36, /home/kino/gotin/app/assets/stylesheets/application.sass */
 #bottom-nav {
   padding: 0;
   margin: 0;
 }
 /* line 39, /home/kino/gotin/app/assets/stylesheets/application.sass */
 #bottom-nav li {
   display: inline-block;
   padding-right: 22px;
   font-size: 13px;
   font-weight: 600;
 }

 /* line 44, /home/kino/gotin/app/assets/stylesheets/application.sass */
 #footer-bottom {
   padding: 32px 0 0 0;
 }


 #footer-info {
   text-align: center;
   margin-bottom: 30px;
 }


 #footer-social-icons {
   float: right;
   text-align: center;
 }
 /* line 52, /home/kino/gotin/app/assets/stylesheets/application.sass */
 #footer-social-icons li {
   list-style: none;
   display: inline-block;
 }
 /* line 55, /home/kino/gotin/app/assets/stylesheets/application.sass */
 #footer-social-icons li a {
   font-size: 24px;
   padding: 5px 10px;
 }

 /* line 58, /home/kino/gotin/app/assets/stylesheets/application.sass */
 #footer-copy {
   float: left;
 }

 #footer-copy a {
   font-weight: bold;
 }
