<div id="sidebar">
	<div id="latest" class="block">
		<h4>Recent Posts</h4>
		<ul>
			<li>
				<a href="https://www.elegantthemes.com/preview/Divi/the-happiest-place-on-earth/">The Happiest Place On Earth</a>
			</li>
			<li>
				<a href="https://www.elegantthemes.com/preview/Divi/elegant-icon-font/">Elegant Icon Font</a>
			</li>
			<li>
				<a href="https://www.elegantthemes.com/preview/Divi/a-stroll-through-nature/">The Sweet Life</a>
			</li>
			<li>
				<a href="https://www.elegantthemes.com/preview/Divi/golden-meadow/">Golden Meadow</a>
			</li>
			<li>
				<a href="https://www.elegantthemes.com/preview/Divi/on-top-of-the-world/">Award Winning Film</a>
			</li>
		</ul>
	</div>

	<div id="popular" class="block">
		<h4>Recent Comments</h4>
		<ul>
			<li>
				<span>Nick</span>
				 on <a href="https://www.elegantthemes.com/preview/Divi/comments/#comment-1206">Comments</a>
		 	</li>
			<li>
				<span>Nick</span>
				 on <a href="https://www.elegantthemes.com/preview/Divi/comments/#comment-1205">Comments</a>
		 	</li>
			<li>
				<span>KennySing</span> on <a href="https://www.elegantthemes.com/preview/Divi/flirt-with-the-wind/#comment-53">Flirt The Wind</a>
			</li>
			<li>
				<span>KennySing</span> on <a href="https://www.elegantthemes.com/preview/Divi/post-title/#comment-52">A Short Film</a>
			</li>
			<li>
				<span>admin</span> on <a href="https://www.elegantthemes.com/preview/Divi/post-title-2/#comment-49">Premium WordPress Themes by Elegant Themes</a>
			</li>
		</ul>
	</div>

	<div id="recent-edits" class="block">
		<h4>Archives</h4>
		<ul>
			<li><a href="https://www.elegantthemes.com/preview/Divi/2014/05/">May 2014</a></li>
			<li><a href="https://www.elegantthemes.com/preview/Divi/2014/04/">April 2014</a></li>
			<li><a href="https://www.elegantthemes.com/preview/Divi/2014/04/">April 2014</a></li>
			<li><a href="https://www.elegantthemes.com/preview/Divi/2014/04/">April 2014</a></li>
		</ul>
	</div>

</div>
